button{
	cursor: pointer;
}

.question{
	width: 1000px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

#q1 h2{
	cursor: pointer;
}
#q1 h2.selected{
	font-family: monospace;
	color: red;
	background-color: yellow;
}

#q2 span{
	font-family: monospace;
}

#q4 #description{
	font-family: monospace;
	cursor: none;
}

#q4 #description.selected{
	background-color: gray;
	color: white;
}

#q5 #code{
	background-color:#F1F1F1;
	border:1px solid #00000;
	padding:10px;
	overflow:auto
	margin:7px;
	color:#0150c7;
}
